# Logging configuration
experiment_name: acegen
agent_name: ahc
log_dir: results
logger_backend: null  # wandb, tensorboard, or null
seed: 101 # multiple seeds can be provided as a list to multiple experiments sequentially e.g. [101, 102, 103]

# Environment configuration
num_envs: 128 # Number of smiles to generate in parallel
total_smiles: 10_000

# Scoring function
molscore: MolOpt
molscore_include: ["Albuterol_similarity"]
custom_task: null # Requires molscore to be set to null

# Fix the beginning of the generated molecules
prompt: null  # e.g. c1ccccc

# Architecture
model: gru # gru, lstm, or gpt2
# The default prior varies for each model. Refer to the README file in the root directory for more information.
# The default vocabulary varies for each prior. Refer to the README file in the root directory for more information.

# Optimizer configuration
lr: 0.0001
eps: 1.0e-08
weight_decay: 0.0

# AHC configuration
topk: 0.5
sigma: 60

# Data replay configuration
replay_buffer_size: 100
experience_replay: True
replay_batch_size: 10
