name: torchrl_chem
channels:
  - openeye
  - pytorch
  - nvidia
  - defaults
dependencies:
  - _libgcc_mutex=0.1=main
  - _openmp_mutex=5.1=1_gnu
  - blas=1.0=mkl
  - brotlipy=0.7.0=py39h27cfd23_1003
  - bzip2=1.0.8=h7b6447c_0
  - ca-certificates=2023.08.22=h06a4308_0
  - certifi=2023.7.22=py39h06a4308_0
  - cffi=1.15.1=py39h5eee18b_3
  - charset-normalizer=2.0.4=pyhd3eb1b0_0
  - cryptography=41.0.2=py39h22a60cf_0
  - cuda-cudart=11.8.89=0
  - cuda-cupti=11.8.87=0
  - cuda-libraries=11.8.0=0
  - cuda-nvrtc=11.8.89=0
  - cuda-nvtx=11.8.86=0
  - cuda-runtime=11.8.0=0
  - ffmpeg=4.3=hf484d3e_0
  - filelock=3.9.0=py39h06a4308_0
  - freetype=2.12.1=h4a9f257_0
  - giflib=5.2.1=h5eee18b_3
  - gmp=6.2.1=h295c915_3
  - gmpy2=2.1.2=py39heeb90bb_0
  - gnutls=3.6.15=he1e5248_0
  - idna=3.4=py39h06a4308_0
  - intel-openmp=2023.1.0=hdb19cb5_46305
  - jinja2=3.1.2=py39h06a4308_0
  - jpeg=9e=h5eee18b_1
  - lame=3.100=h7b6447c_0
  - lcms2=2.12=h3be6417_0
  - ld_impl_linux-64=2.38=h1181459_1
  - lerc=3.0=h295c915_0
  - libcublas=11.11.3.6=0
  - libcufft=10.9.0.58=0
  - libcufile=1.7.2.10=0
  - libcurand=10.3.3.141=0
  - libcusolver=11.4.1.48=0
  - libcusparse=11.7.5.86=0
  - libdeflate=1.17=h5eee18b_0
  - libffi=3.4.4=h6a678d5_0
  - libgcc-ng=11.2.0=h1234567_1
  - libgomp=11.2.0=h1234567_1
  - libiconv=1.16=h7f8727e_2
  - libidn2=2.3.4=h5eee18b_0
  - libnpp=11.8.0.86=0
  - libnvjpeg=11.9.0.86=0
  - libpng=1.6.39=h5eee18b_0
  - libstdcxx-ng=11.2.0=h1234567_1
  - libtasn1=4.19.0=h5eee18b_0
  - libtiff=4.5.1=h6a678d5_0
  - libunistring=0.9.10=h27cfd23_0
  - libwebp=1.2.4=h11a3e52_1
  - libwebp-base=1.2.4=h5eee18b_1
  - lz4-c=1.9.4=h6a678d5_0
  - markupsafe=2.1.1=py39h7f8727e_0
  - mkl=2023.1.0=h213fc3f_46343
  - mkl-service=2.4.0=py39h5eee18b_1
  - mkl_fft=1.3.6=py39h417a72b_1
  - mkl_random=1.2.2=py39h417a72b_1
  - mpc=1.1.0=h10f8cd9_1
  - mpfr=4.0.2=hb69a4c5_1
  - mpmath=1.3.0=py39h06a4308_0
  - ncurses=6.4=h6a678d5_0
  - nettle=3.7.3=hbbd107a_1
  - networkx=3.1=py39h06a4308_0
  - numpy=1.25.2=py39h5f9d8c6_0
  - numpy-base=1.25.2=py39hb5e798b_0
  - openeye-toolkits=2023.1.1=py39_0
  - openh264=2.1.1=h4ff587b_0
  - openssl=3.0.11=h7f8727e_2
  - packaging=23.1=py39h06a4308_0
  - pillow=9.4.0=py39h6a678d5_0
  - pip=23.2.1=py39h06a4308_0
  - pycparser=2.21=pyhd3eb1b0_0
  - pyopenssl=23.2.0=py39h06a4308_0
  - pysocks=1.7.1=py39h06a4308_0
  - python=3.9.17=h955ad1f_0
  - pytorch=2.0.1=py3.9_cuda11.8_cudnn8.7.0_0
  - pytorch-cuda=11.8=h7e8668a_5
  - pytorch-mutex=1.0=cuda
  - readline=8.2=h5eee18b_0
  - requests=2.31.0=py39h06a4308_0
  - setuptools=68.0.0=py39h06a4308_0
  - sqlite=3.41.2=h5eee18b_0
  - sympy=1.11.1=py39h06a4308_0
  - tbb=2021.8.0=hdb19cb5_0
  - tk=8.6.12=h1ccaba5_0
  - tomli=2.0.1=py39h06a4308_0
  - torchaudio=2.0.2=py39_cu118
  - torchtriton=2.0.0=py39
  - torchvision=0.15.2=py39_cu118
  - typing_extensions=4.7.1=py39h06a4308_0
  - tzdata=2023c=h04d1e81_0
  - urllib3=1.26.16=py39h06a4308_0
  - wheel=0.38.4=py39h06a4308_0
  - xz=5.4.2=h5eee18b_0
  - zlib=1.2.13=h5eee18b_0
  - zstd=1.5.5=hc292b87_0
  - pip:
    - absl-py==1.4.0
    - aiosignal==1.3.1
    - ale-py==0.8.1
    - antlr4-python3-runtime==4.9.3
    - appdirs==1.4.4
    - asttokens==2.4.0
    - atari-py==0.2.9
    - attrs==23.1.0
    - autorom==0.4.2
    - autorom-accept-rom-license==0.6.1
    - backcall==0.2.0
    - cachetools==5.3.1
    - click==8.1.7
    - cloudpickle==2.2.1
    - contourpy==1.1.1
    - cycler==0.12.0
    - cython==0.29.36
    - decorator==4.4.2
    - dill==0.3.7
    - dm-control==1.0.14
    - dm-env==1.6
    - dm-tree==0.1.8
    - docker-pycreds==0.4.0
    - exceptiongroup==1.1.3
    - executing==1.2.0
    - farama-notifications==0.0.4
    - fasteners==0.18
    - fonttools==4.43.0
    - frozenlist==1.4.0
    - gitdb==4.0.10
    - gitpython==3.1.34
    - glfw==2.6.2
    - google-auth==2.22.0
    - google-auth-oauthlib==1.0.0
    - grpcio==1.57.0
    - gym==0.26.2
    - gym-notices==0.0.8
    - gymnasium==0.29.1
    - hydra-core==1.3.2
    - hydra-submitit-launcher==1.2.0
    - imageio==2.31.3
    - imageio-ffmpeg==0.4.8
    - importlib-metadata==6.8.0
    - importlib-resources==6.0.1
    - iniconfig==2.0.0
    - install==1.3.5
    - ipdb==0.13.13
    - ipython==8.15.0
    - jedi==0.19.0
    - joblib==1.3.2
    - jsonschema==4.19.1
    - jsonschema-specifications==2023.7.1
    - kiwisolver==1.4.5
    - labmaze==1.0.6
    - lxml==4.9.3
    - markdown==3.4.4
    - matplotlib==3.8.0
    - matplotlib-inline==0.1.6
    - moviepy==1.0.3
    - msgpack==1.0.7
    - mujoco==2.3.7
    - mujoco-py==2.1.2.14
    - multiprocess==0.70.15
    - oauthlib==3.2.2
    - omegaconf==2.3.0
    - parso==0.8.3
    - patchelf==0.17.2.1
    - pathos==0.3.1
    - pathtools==0.1.2
    - pexpect==4.8.0
    - pickleshare==0.7.5
    - pluggy==1.3.0
    - pox==0.3.3
    - ppft==1.7.6.7
    - proglog==0.1.10
    - prompt-toolkit==3.0.39
    - protobuf==4.24.2
    - psutil==5.9.5
    - ptyprocess==0.7.0
    - pure-eval==0.2.2
    - pyasn1==0.5.0
    - pyasn1-modules==0.3.0
    - pygame==2.5.1
    - pygments==2.16.1
    - pyopengl==3.1.7
    - pyparsing==3.1.1
    - pytest==7.4.1
    - pytest-instafail==0.5.0
    - python-dateutil==2.8.2
    - pyyaml==6.0.1
    - ray==2.7.0
    - rdkit==2023.3.3
    - referencing==0.30.2
    - reinvent-chemistry==0.0.51
    - reinvent-models==0.0.14
    - reinvent-scoring==0.0.73
    - requests-oauthlib==1.3.1
    - rpds-py==0.10.3
    - rsa==4.9
    - scikit-learn==1.2.1
    - scipy==1.11.2
    - sentry-sdk==1.30.0
    - setproctitle==1.3.2
    - shimmy==0.2.1
    - six==1.16.0
    - smmap==5.0.0
    - stack-data==0.6.2
    - submitit==1.4.5
    - tensorboard==2.14.0
    - tensorboard-data-server==0.7.1
    - threadpoolctl==3.2.0
    - tqdm==4.66.1
    - traitlets==5.9.0
    - wandb==0.15.9
    - wcwidth==0.2.6
    - werkzeug==2.3.7
    - zipp==3.16.2