# General dependencies
flake8
pytest
pytest-cov
hydra-core
tqdm
wandb
rdkit>=2023.3.3

# PyTorch, Tensordict, and TorchRL
torch==2.6.0 --index-url https://download.pytorch.org/whl/cu124 # Replace cuda version
torchvision --index-url https://download.pytorch.org/whl/cu124 # Replace cuda version
tensordict==0.7.2
# git+https://github.com/pytorch/rl.git@83a7a57daee4b76b249dbc0ce2231f163f2a148 # TorchRL must be installed locally via git clone