# General dependencies
flake8
pytest
pytest-cov
hydra-core
tqdm
wandb
rdkit>=2023.3.3

# TorchRL and Tensordict
git+https://github.com/pytorch/rl.git@83a7a57daee4b76b249dbc0ce2231f163f2a1482
git+https://github.com/pytorch/tensordict.git@c11024e0db864bd8487c68e3d0cf5e100fc07831