# General dependencies
flake8
pytest
pytest-cov
hydra-core
tqdm
wandb
rdkit>=2023.3.3

# TorchRL and Tensordict
git+https://github.com/pytorch/rl.git@767a877a0a93d41a9b7935598da0ded4c984904f
git+https://github.com/pytorch/tensordict.git@3812ca62d0d5db7d337592d99934e32a3d2b4bfd