# Logging configuration
experiment_name: acegen
agent_name: reinvent
log_dir: results
logger_backend: null # csv, wandb, tensorboard, or null
seed: 101

# Environment configuration
num_envs: 128 # Number of smiles to generate in parallel
total_smiles: 10_000

# Scoring function
molscore: LibINVENT_Exp1
molscore_include: ["DRD2_SelRF_SubFilt_DF"]
custom_task: null # Requires molscore to be set to null

# Promptsmiles configuration
promptsmiles: N1(*)CCN(CC1)CCCCN(*)
promptsmiles_optimize: True
promptsmiles_shuffle: True
promptsmiles_multi: False

# Architecture
model: gru # gru, lstm, or gpt2
# The default prior varies for each model. Refer to the README file in the root directory for more information.
# The default vocabulary varies for each prior. Refer to the README file in the root directory for more information.

# Optimizer configuration
lr: 0.0001
eps: 1.0e-08
weight_decay: 0.0

